In [16]:
import pyodbc as py
import pandas as pd

server = "213.140.22.237\SQLEXPRESS"
database = "zanella.luca"
username = "zanella.luca"
password = "xxx123##"
conn = py.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password) 
cursor = conn.cursor()

In [17]:
query_graph = "SELECT * FROM dbo.ProvapuntiSomministrazioneVaccini"
df_graph = pd.read_sql(query_graph,conn)

df_graph = df_graph.groupby("area").count()["Column_1"].reset_index(name="num_vacc")
df_graph

   area  num_vacc
0   ABR        40
1   BAS        26
2   CAL        88
3   CAM        51
4   EMR       130
5   FVG        45
6   LAZ       138
7   LIG       133
8   LOM       111
9   MAR        49
10  MOL         5
11  PAB        33
12  PAT        15
13  PIE       161
14  PUG       362
15  SAR        76
16  SIC       165
17  TOS       151
18  UMB        40
19  VDA         7
20  VEN       165

In [18]:
somm_vacc = pd.read_csv("https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/somministrazioni-vaccini-latest.csv")
somm_vacc

,data_somministrazione,fornitore,area,fascia_anagrafica,sesso_maschile,sesso_femminile,categoria_operatori_sanitari_sociosanitari,categoria_personale_non_sanitario,categoria_ospiti_rsa,categoria_60_69,...,categoria_forze_armate,categoria_personale_scolastico,categoria_soggetti_fragili,categoria_altro,prima_dose,seconda_dose,codice_NUTS1,codice_NUTS2,codice_regione_ISTAT,nome_area
0,2020-12-27,Pfizer/BioNTech,ABR,20-29,1,0,1,0,0,0,...,0,0,0,0,1,0,ITF,ITF1,13,Abruzzo
1,2020-12-27,Pfizer/BioNTech,ABR,30-39,1,3,4,0,0,0,...,0,0,0,0,4,0,ITF,ITF1,13,Abruzzo
2,2020-12-27,Pfizer/BioNTech,ABR,40-49,1,6,7,0,0,0,...,0,0,0,0,7,0,ITF,ITF1,13,Abruzzo
3,2020-12-27,Pfizer/BioNTech,ABR,50-59,4,5,9,0,0,0,...,0,0,0,0,9,0,ITF,ITF1,13,Abruzzo
4,2020-12-27,Pfizer/BioNTech,ABR,60-69,10,4,13,1,0,0,...,0,0,0,0,14,0,ITF,ITF1,13,Abruzzo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55790,2021-05-22,Vaxzevria (AstraZeneca),VEN,40-49,42,257,1,14,0,0,...,0,266,0,18,1,298,ITH,ITH3,5,Veneto
55791,2021-05-22,Vaxzevria (AstraZeneca),VEN,50-59,73,324,0,23,0,0,...,0,355,0,19,5,392,ITH,ITH3,5,Veneto
55792,2021-05-22,Vaxzevria (AstraZeneca),VEN,60-69,87,146,2,14,0,86,...,0,124,0,7,84,149,ITH,ITH3,5,Veneto
55793,2021-05-22,Vaxzevria (AstraZeneca),VEN,70-79,36,21,2,10,0,0,...,0,1,0,0,36,21,ITH,ITH3,5,Veneto
55794,2021-05-22,Vaxzevria (AstraZeneca),VEN,80-89,2,0,0,0,0,0,...,0,0,0,0,2,0,ITH,ITH3,5,Veneto

In [19]:

df_somm_vacc = somm_vacc.groupby('fornitore').sum()[['sesso_maschile','sesso_femminile']].reset_index()
df_somm_vacc['tot'] = (df_somm_vacc['sesso_maschile'] + df_somm_vacc['sesso_femminile'])
df_somm_vacc[['fornitore','tot']]

                 fornitore       tot
0                  Janssen    370710
1                  Moderna   2556865
2          Pfizer/BioNTech  21177574
3  Vaxzevria (AstraZeneca)   6385475

In [20]:
df = somm_vacc.groupby("area").sum()[['sesso_maschile','sesso_femminile']].reset_index()
df

   area  sesso_maschile  sesso_femminile
0   ABR          306866           381458
1   BAS          135464           158995
2   CAL          433590           467737
3   CAM         1326609          1522483
4   EMR         1011897          1334842
5   FVG          274891           359658
6   LAZ         1305266          1632123
7   LIG          373333           481109
8   LOM         2267594          2997587
9   MAR          350255           450627
10  MOL           76257            92738
11  PAB          127540           151791
12  PAT          116079           149732
13  PIE          962444          1283035
14  PUG          917314          1150548
15  SAR          347841           434238
16  SIC         1043345          1166475
17  TOS          794960          1066413
18  UMB          194664           261274
19  VDA           29703            35218
20  VEN         1093531          1423100

In [21]:
somma_vaccinati = somm_vacc['sesso_maschile'].sum() + somm_vacc['sesso_femminile'].sum()
somma_vaccinati

30490624

In [22]:
consegne = pd.read_csv("https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/consegne-vaccini-latest.csv")
consegne

,area,fornitore,numero_dosi,data_consegna,codice_NUTS1,codice_NUTS2,codice_regione_ISTAT,nome_area
0,ABR,Pfizer/BioNTech,135,2020-12-27,ITF,ITF1,13,Abruzzo
1,ABR,Pfizer/BioNTech,7800,2020-12-30,ITF,ITF1,13,Abruzzo
2,ABR,Pfizer/BioNTech,3900,2021-01-05,ITF,ITF1,13,Abruzzo
3,ABR,Pfizer/BioNTech,3900,2021-01-07,ITF,ITF1,13,Abruzzo
4,ABR,Pfizer/BioNTech,3900,2021-01-11,ITF,ITF1,13,Abruzzo
...,...,...,...,...,...,...,...,...
1243,VEN,Janssen,12900,2021-05-14,ITH,ITH3,5,Veneto
1244,VEN,Vaxzevria (AstraZeneca),33600,2021-05-14,ITH,ITH3,5,Veneto
1245,VEN,Pfizer/BioNTech,169650,2021-05-19,ITH,ITH3,5,Veneto
1246,VEN,Janssen,17050,2021-05-21,ITH,ITH3,5,Veneto
1247,VEN,Moderna,29300,2021-05-21,ITH,ITH3,5,Veneto

In [23]:
consegne = consegne.groupby("data_consegna").sum()['numero_dosi'].reset_index()
consegne

   data_consegna  numero_dosi
0     2020-12-27         9750
1     2020-12-30       313950
2     2020-12-31       156000
3     2021-01-04        10725
4     2021-01-05       192075
..           ...          ...
87    2021-05-17        13700
88    2021-05-18         8670
89    2021-05-19      2127977
90    2021-05-20        45480
91    2021-05-21       661550

[92 rows x 2 columns]

In [24]:
dosi = pd.read_csv("https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/vaccini-summary-latest.csv")
dosi

,area,dosi_somministrate,dosi_consegnate,percentuale_somministrazione,ultimo_aggiornamento,codice_NUTS1,codice_NUTS2,codice_regione_ISTAT,nome_area
0,ABR,688324,746770,92.2,2021-05-23,ITF,ITF1,13,Abruzzo
1,BAS,294459,319725,92.1,2021-05-23,ITF,ITF5,17,Basilicata
2,CAL,901327,1002850,89.9,2021-05-23,ITF,ITF6,18,Calabria
3,CAM,2849092,3061485,93.1,2021-05-23,ITF,ITF3,15,Campania
4,EMR,2346739,2514850,93.3,2021-05-23,ITH,ITH5,8,Emilia-Romagna
5,FVG,634549,722155,87.9,2021-05-23,ITH,ITH4,6,Friuli-Venezia Giulia
6,LAZ,2937389,3270920,89.8,2021-05-23,ITI,ITI4,12,Lazio
7,LIG,854442,906970,94.2,2021-05-23,ITC,ITC3,7,Liguria
8,LOM,5265181,5560650,94.7,2021-05-23,ITC,ITC4,3,Lombardia
9,MAR,800882,842210,95.1,2021-05-23,ITI,ITI3,11,Marche
10,MOL,168995,179805,94.0,2021-05-23,ITF,ITF2,14,Molise
11,PAB,279331,313445,89.1,2021-05-23,ITH,ITH1,4,Provincia Autonoma Bolzano / Bozen
12,PAT,265811,289670,91.8,2021-05-23,ITH,ITH2,4,Provincia Autonoma Trento
13,PIE,2245479,2444360,91.9,2021-05-23,ITC,ITC1,1,Piemonte
14,PUG,2067862,2180555,94.8,2021-05-23,ITF,ITF4,16,Puglia
15,SAR,782079,918870,85.1,2021-05-23,ITG,ITG2,20,Sardegna
16,SIC,2209820,2456502,90.0,2021-05-23,ITG,ITG1,19,Sicilia
17,TOS,1861373,2025810,91.9,2021-05-23,ITI,ITI1,9,Toscana
18,UMB,455938,489365,93.2,2021-05-23,ITI,ITI2,10,Umbria
19,VDA,64921,72640,89.4,2021-05-23,ITC,ITC2,2,Valle d'Aosta / Vallée d'Aoste
20,VEN,2516631,2655860,94.8,2021-05-23,ITH,ITH3,5,Veneto

In [25]:
dosi = dosi[['area','dosi_somministrate','dosi_consegnate']]
dosi

   area  dosi_somministrate  dosi_consegnate
0   ABR              688324           746770
1   BAS              294459           319725
2   CAL              901327          1002850
3   CAM             2849092          3061485
4   EMR             2346739          2514850
5   FVG              634549           722155
6   LAZ             2937389          3270920
7   LIG              854442           906970
8   LOM             5265181          5560650
9   MAR              800882           842210
10  MOL              168995           179805
11  PAB              279331           313445
12  PAT              265811           289670
13  PIE             2245479          2444360
14  PUG             2067862          2180555
15  SAR              782079           918870
16  SIC             2209820          2456502
17  TOS             1861373          2025810
18  UMB              455938           489365
19  VDA               64921            72640
20  VEN             2516631          2655860

In [26]:
dosi['da_utilizzare'] = dosi['dosi_consegnate'] - dosi['dosi_somministrate']
dosi

<ipython-input-26-ab15ca755053>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dosi['da_utilizzare'] = dosi['dosi_consegnate'] - dosi['dosi_somministrate']

   area  dosi_somministrate  dosi_consegnate  da_utilizzare
0   ABR              688324           746770          58446
1   BAS              294459           319725          25266
2   CAL              901327          1002850         101523
3   CAM             2849092          3061485         212393
4   EMR             2346739          2514850         168111
5   FVG              634549           722155          87606
6   LAZ             2937389          3270920         333531
7   LIG              854442           906970          52528
8   LOM             5265181          5560650         295469
9   MAR              800882           842210          41328
10  MOL              168995           179805          10810
11  PAB              279331           313445          34114
12  PAT              265811           289670          23859
13  PIE             2245479          2444360         198881
14  PUG             2067862          2180555         112693
15  SAR              782079           918870         136791
16  SIC             2209820          2456502         246682
17  TOS             1861373          2025810         164437
18  UMB              455938           489365          33427
19  VDA               64921            72640           7719
20  VEN             2516631          2655860         139229